<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.shortlink.project.dao.mapper.LinkAccessStatsMapper">

    <insert id="shortLinkStats">
        INSERT INTO
            t_link_access_stats (
            full_short_url,
            gid,
            date,
            pv,
            uv,
            uip,
            hour,
            weekday,
            create_time,
            update_time,
            del_flag
        )
        VALUES(
                  #{LinkAccessStats.fullShortUrl},
                  #{LinkAccessStats.gid},
                  #{LinkAccessStats.date},
                  #{LinkAccessStats.pv},
                  #{LinkAccessStats.uv},
                  #{LinkAccessStats.uip},
                  #{LinkAccessStats.hour},
                  #{LinkAccessStats.weekday},
                  NOW(),
                  NOW(),
                  0
              ) ON DUPLICATE KEY
        UPDATE
            pv = pv + #{LinkAccessStats.pv},
            uv = uv + #{LinkAccessStats.uv},
            uip = uip + #{LinkAccessStats.uip};
    </insert>

</mapper>